# macOS system files
.DS_Store

# Exclude local data backups containing student grades/names
*.json
!/.vscode/settings.json
!/manifest.json
!/firebase.json
!/.firebaserc
!/functions/package.json

# Firebase
functions/node_modules/
